 

$fontSize-title: 1.6rem;
$fontSize-text: 1.2rem;;

.container{
    width: 100vw;
    margin-top: 120px;
}

.content__wrap{
    width: 80vw;
    margin: 0 auto;
}

.column__section{
    display: flex;
    width: 100%;
    min-width: 1000px;
}
.column__left{
    width: 60%;
    min-width: 700px;
    display: flex;
    flex-direction: column;
    h3{
        font-size: $fontSize-title;
        font-weight: 600;
        margin-bottom: 2rem;
        
    }
    div{
        padding-right: 4rem;
        span {
                font-size: $fontSize-text;
                font-weight: 400;
                line-height: 3.5rem;
                align-items: center;
            }
    }
}

.column__right{
    width: 40%;
    min-width: 450px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    h3{
        font-size: $fontSize-title;
        font-weight: 600;
        margin-bottom: 2rem;
        text-align: center;
    }
    div{
        margin-top: 1rem;
        min-height: 360px;
        width: 100%;
        background-color: rgb(119, 92, 60);
        margin-bottom: 2rem;
    }
    h4{
        font-size: $fontSize-text;
        font-weight: 600;
        margin-bottom: 2rem;
    }
    span{
        font-size: $fontSize-text;
        font-weight: 500;
        color: gray;
    }
}


.info__section{
    margin-top: 2rem;
    margin-bottom: 8rem;
    & > :nth-child(1){
        margin-bottom: 2rem;
        font-size: $fontSize-title;
        font-weight: 600;
    }
    & > :nth-child(2){
        margin-bottom: 2rem;
        font-size: $fontSize-text;
        font-weight: 400;
    }
    & > :nth-child(3){
        margin-bottom: 2rem;
        font-size: $fontSize-title;
        font-weight: 600;
    }
    & > :nth-child(4){
        margin-bottom: 2rem;
        font-size: $fontSize-text;
        font-weight: 400;
        a{
            color: #6A35F2;
            font-weight: 500;
        }
    }
}