.header {
    text-align: center;
}

.imageInput {
    margin-top: 3rem;
    width: 50%;
    max-width: 50rem;
    height: 25rem;
    box-shadow: none !important;
}

.tabBox {
    width: 50%;
    max-width: 50rem;
    border-bottom: none !important;
}
