.success {
  position: fixed;
  right: 20px;
  top: 10%;
  background-color: #50c878 !important;
  color: white !important;
}

.failed {
  position: fixed;
  right: 20px;
  top: 10%;
  background-color: #c70039 !important;
  color: white !important;
}
