.productWrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 90px;
}

.productContainer {
    width: 80%;
    display: flex;
    margin: 16px auto;
    padding: 10px 0;
    border-radius: 5px;
    background-color: red;
}